@charset "UTF-8";
html,
html,body {width:100%;height:100%;}
@font-face {
  font-family: 'brandon_grotesquelight';
  src: url("../fonts/brandon_light-webfont.eot");
  src: url("../fonts/brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_light-webfont.woff2") format("woff2"), url("../fonts/brandon_light-webfont.woff") format("woff"), url("../fonts/brandon_light-webfont.ttf") format("truetype"), url("../fonts/brandon_light-webfont.svg#brandon_grotesquelight") format("svg");
  font-weight: normal;
  font-style: normal; }
nav {
  text-align: right;
  margin-right: 60px; }
  nav a {
    transition: 200ms;
    text-decoration: none;
    font-family: "brandon_grotesquemedium";
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: solid 2px rgba(255, 255, 255, 0);
    border-bottom: solid 2px rgba(255, 255, 255, 0); }
    nav a:hover {
      transition: 200ms;
      padding-top: 8px;
      padding-bottom: 8px;
      border-top: solid 2px white;
      border-bottom: solid 2px white; }
  nav li {
    list-style: none;
    display: inline-block;
    padding: 30px 40px 0 40px; }

.c-hamburger {
  display: none; }

/* header */
header {
  background-color: #5E0005;
  height: 30vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  header nav {
    position: absolute;
    right: 0; }

.home-header {
  height: 10vh; }



.home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px; }

footer{
  position: top;
    bottom: 47em;
    left: 0;
    width: 25vw;
}


a:link {
  color:000000;
}
a{
  color:#000000;
text-align: center;
    align-content: center;
}
.home{
  text-align: center;
  margin-top: 4em;
  clear: both;
  color: #000;
}

p{
  text-align: center;
  margin: 0 auto;
  margin-top: 5em;
  color: #000;
 font-family:"Source Sans Pro";
  font-size: 18px;
  max-width: 750px;.

}
img{
display: block;
margin: 0 auto;
margin-top: 4em;
}
header{
  text-align: center;
}
.about{
  color: #000;
}

.last{
  margin-bottom: 120px;
}

h1 {
    text-align: center;
  margin-top: 1em;
  color: #000;
  border-bottom: 2px solid black;
}
h2{
    text-align: center;
    color: #000;
}
embed{
    text-align: center;
    width: 800px;
    height: 800px;
    margin-top: 3em;
    border: 1px solid black;
}
div {
    width: 100%;
}

div a {
    text-align: center;
    display: block;
    margin: 0 auto;
}
